.breadcrumb a {
    color: #535353;
}

.breadcrumb a:hover {
    color: #535353;
}

.firm-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.pagin {
    text-decoration: none;
    margin-right: 12px;
    font-size: 12px;
    color: #535353;
    text-align: center;
    line-height: 22px;
}

.act {
    background-color: #E5E5E5;
    border-radius: 30px;
    width: 38px;
    height: 22px;
}

.left-panel {
    min-width: 255px;
    margin-right: 20px;
}

.main-panel {
    max-width: 750px;
    min-width: 200px;
}

.filter {
    border: 1px solid #497952;
    border-radius: 10px;
    width: 100%;
    padding-left: 29px;
    padding-right: 29px;
    font-size: 12px;
    margin-bottom: 30px;
}

.color-aria {
    width: 100%;
}

.color-aria-check {
    top: calc(50% - 6px);
    right: calc(50% - 6px);
    position: absolute;
    z-index: 2;
}

.selector {
    border-bottom-color: #497952;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 26px;
    margin-top: 32px;
}

.selector label {
    font-weight: bold;
}

.form-check-input:checked {
    background-color: #497952;
    border-color: #497952;
}

.button-aria {
    margin-top: 32px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.button-aria button {
    border: 1px solid #D0D0D0;
    background-color: white;
    font-size: 11px;
    border-radius: 30px;
    width: 90px;
    height: 26px;
}

.button-aria button:hover {
    color: white;
    background-color: #497952;
    border-color: #497952;
}

.my-button {
    height: 24px;
    margin-left: 18px;
    border: 1px solid #D0D0D0;
    background-color: white;
    font-size: 11px;
    border-radius: 30px;
    margin-right: 28px;
}

.check-aria {
    font-size: 11px;
    font-weight: bold;
    margin-top: 22px;
}

.form-check {
    min-height: 20px;
}

.check-aria .form-check::after {
    content: " (15)";
    font-size: 10px;
    font-weight: normal;
}

.check-aria a {
    display: flex;
    align-items: center;
    color: #497952;
}

.check-aria a:hover {
    color: #497952;
}

.subscription .search-line {
    width: 75%;
}

.slider-aria, .color-aria {
    margin-top: 20px;
}

.left-panel-news {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.left-panel-news a {
    width: 180px;
}

.left-panel-news a:hover {
    text-decoration: underline !important;
    color: #497952;
}

#amount-max, #amount-min {
    width: 57px;
    height: 24px;
}

.ui-corner-all {
    background: linear-gradient(270deg, #497952 0%, rgba(9, 196, 44, 0.47) 105.96%);
    border-radius: 180px;
}

.ui-slider-handle {
    width: 20px !important;
    height: 20px !important;
    top: calc(-50% - 2px) !important;
}

.ui-slider-handle::after {
    content: '=';
    margin-left: 6px;
}

.main-panel-news-img {
    min-width: 200px;
}

.main-panel-news-text {
    max-width: 539px;
    line-height: 2;
}

@media screen and (max-width: 480px){
    .my-card {
        width: 232px;
    }

    .left-panel {
        margin-right: 5px;
    }
}

@media screen and (max-width: 515px){
    .left-panel {
        min-width: 180px;
    }
    .filter {
        font-size: 10px;
    }

    .button-aria button {
        font-size: 9px;
        height: 30px;
    }
}

@media screen and (max-width: 710px){
    .my-collapse {
        flex-direction: column;
        justify-content: center;
    }

    .my-collapse label, .my-collapse button {
        text-align: center;
    }
}

@media screen and (max-width: 620px) {
    .discount {
        font-size: 18px !important;
        min-width: unset;
    }

    .subscription .font-14 {
        font-size: 10px;
    }
    .subscription {
        width: 232px;
    }
}

@media screen and (max-width: 954px) {
    .subscription .search-line {
        width: 100%;
    }
    .subscription form {
        flex-direction: column;
        justify-content: center;
    }

    .subscription form button {
        margin-top: 5px;
    }
}

